/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

main {
  min-height: 82vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.reg-form {
  padding: 20px 30px;
}

input.ng-invalid.ng-touched {
  border-color: red;
}

.help-block {
  color: red;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: #495057 !important;
}

input.bg-dark:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #343a40 inset;
  -webkit-text-fill-color: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.user-wrap {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 0px rgba(158,158,158,.75);
}

.entry-time:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
}
