h3 {
  height: 20px;
  text-align: center;
}

ngu-carousel img {
  width: 150px;
  margin: auto;
  object-position: center;
}

ngu-item > div:first-child {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 0 20px;
  border-radius: 100%;
}

ngu-carousel button {
  border: none;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 999%;
  margin: auto;
}

ngu-carousel button[NguCarouselPrev] {
  left: 0;
  display: block;
  background: #fff;
  border: 1px solid #ccc;
}

ngu-carousel button[NguCarouselNext] {
  right: 0;
  display: block;
  background: #fff;
  border: 1px solid #ccc;
}

ngu-carousel button:focus {
  outline: none;
}

.ngucarouselPointDefault[_ngcontent-c5] .ngucarouselPoint[_ngcontent-c5] li[_ngcontent-c5] {
  border-radius: 0;
  width: 50px;
  height: 5px;
}

.item-image {
  height: 200px;
  color: white;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 6px rgba(101, 101, 101, 0.15);
  width: 93%;
}

