<div>
  <ngu-carousel [inputs]="carouselConfig">
    <ngu-item
      *ngFor="let item of items"
      NguCarouselItem class="row justify-content-center">

      <div class="item-image" [ngStyle]="{'background-color': item.color}">
        <a routerLink="users/{{item.id}}" [ngStyle]="{'margin': 'auto'}">
          <img src="{{item.src}}" alt="{{item.name}}">
        </a>
      </div>
      <div>
        <a routerLink="users/{{item.id}}" [ngStyle]="{'margin': 'auto'}">
          <h3>{{item.name}}</h3>        </a>
      </div>

    </ngu-item>
    <button NguCarouselPrev class="leftRs">&lt;</button>
    <button NguCarouselNext class="rightRs">&gt;</button>
  </ngu-carousel>
</div>
