<div class="container">
  <div class="row">
    <div *ngIf="user" class="col-12 col-md-4 col-lg-4 text-center text-md-left">
      <img [src]="user.avatar" class="img-fluid" alt="user's photo">
    </div>
    <div class="col-12 col-md-8 col-lg-8 user-info">
      <h2 class="text-center text-md-left mt-4 mt-md-0 mb-3 ">{{user?.name}}</h2>
      <p *ngIf="profileOwner && userAuthorized">
        <a routerLink="/edit-profile">Edit profile</a>
      </p>
      <p>E-mail: {{user?.email}}</p>
      <p>Phone number: {{user?.phoneNumber}}</p>
      <p>
        Role: {{user?.role}}
      </p>
      <p>
        About user: {{user?.userInfo}}
      </p>
    </div>

    <!--<div  class="col-12 col-md-2 col-lg-3" *ngIf="user">
      <a *ngIf="user.role === 'master' && userAuthorized && profileOwner"
         routerLink="/users" class="search-link">Find all customers</a>
      <a *ngIf="user.role === 'customer' && userAuthorized && profileOwner"
         routerLink="/users" class="search-link">Find all masters</a>
    </div>-->
  </div>

  <app-entries *ngIf="user && user.role === 'master'" [user]="user" [userAuthorized]="userAuthorized"
               [profileOwner]="profileOwner"></app-entries>
</div>
