p { height:20px; text-align:center; }

ngu-carousel {
  /*position: relative;*/
}

ngu-carousel  button {
  border: none;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  background-color: rgba(221, 221, 221, .5);
}

ngu-carousel  button:focus {
  outline: none;
}

ngu-carousel button[NguCarouselPrev] {
  left: 50px;
}
ngu-carousel button[NguCarouselNext] {
  right: 50px;
}

ngu-item {
  overflow: hidden;
}

ngu-item>div {
  display: flex;
  justify-content: center;
}

