<h3 class="text-center">Forgot password</h3>
<div class="row justify-content-center">
  <form [formGroup]="forgotPassForm" (ngSubmit)="sendEmail(forgotPassForm)"
        class="col-12 col-md-8 col-lg-6 align-content-center reg-form">
    <alert></alert>
    <div class="form-group">
      <label for="email">Email address <span class="text-danger">*</span></label>
      <input type="email" class="form-control "
             id="email" formControlName="email"
             placeholder="Enter email">

      <div class="help-block"
           *ngIf="forgotPassForm.controls['email'].invalid && forgotPassForm.controls['email'].touched">
        <span *ngIf="forgotPassForm.controls['email'].hasError('required')">
            Email is required.
            </span>
        <span *ngIf="forgotPassForm.controls['email'].hasError('email') ">
            Invalid email.
            </span>
      </div>
    </div>
    <div class="row form-group justify-content-center">
      <button type="submit" class="btn btn-outline-dark submit-btn" id="register" [disabled]="!forgotPassForm.valid">
        Submit
      </button>
      <span>
        <img *ngIf="loading"
             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
      </span>
    </div>
  </form>
</div>
