<section class="slider">
  <app-slider></app-slider>
</section>

<div class="container mt-5">
  <section class="row home-info">
    <div class="col-12">
      <h1 class="text-center mt-3">Beauty Shop</h1>
      <p class="mb-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis ipsum dui, eu ultrices sem volutpat quis.
        Proin eleifend lorem sed accumsan congue. Duis urna sapien, ullamcorper eu tortor sed, molestie feugiat ante.
        Ut fringilla ullamcorper libero id luctus. Nam urna sem, congue nec pulvinar quis, sollicitudin non mi. Sed eu
        leo metus. Nulla facilisi. Nullam tellus mauris, eleifend eu pellentesque vitae, suscipit eget mi. Nam dui urna,
        pulvinar eu consectetur eu, suscipit sit amet dui. Praesent in mi cursus ante laoreet congue.
      </p>
      <hr>
      <ul class="row list-inline justify-content-center advantages-list">
        <li class="list-inline-item text-center advantages-list-item">
          <i class="fa fa-calendar-check-o list-icon"></i>
          <p class="advantages-list-item-text">
            Lorem ipsum dolor sit amet
          </p>
        </li>
        <li class="list-inline-item text-center advantages-list-item">
          <i class="fa fa-list-alt list-icon"></i>
          <p class="advantages-list-item-text">
            Lorem ipsum dolor sit amet
          </p>
        </li>
        <li class="list-inline-item text-center advantages-list-item">
          <i class="fa fa-coffee list-icon"></i>
          <p class="advantages-list-item-text">
            Lorem ipsum dolor sit amet
          </p>
        </li>
      </ul>
      <hr>
    </div>
  </section>

  <section class="carousel">
    <app-carousel></app-carousel>
  </section>
</div>
