app-slider {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 56px;
}

.slider {
  min-height: 450px;
}

.info-about-site {
  padding: 35px 0;
}

.list-icon {
  font-size: 80px;
  color: #ccc;
}

.advantages-list-item {
  width: 200px;
}

.advantages-list {
  margin: 50px 0;
}

.advantages-list-item-text {
  padding: 0 10px;
  color: #676767;
}

.info-about-site p {
  max-width: 360px;
  width: 100%;
  margin: auto;
}
