.slider {
  margin-top: -2rem;
}

.home-info {
  margin-bottom: 2rem;
}

.list-icon {
  font-size: 80px;
  color: #ccc;
}

.advantages-list-item {
  width: 200px;
}

.advantages-list {
  margin: 2.5rem 0 1.5rem 0;
}

.advantages-list-item-text {
  padding: 0 10px;
  color: #676767;
}
