<section class="slider">
  <app-slider></app-slider>
</section>

<div class="container mt-5">
  <section class="row home-info">
    <div class="col-12">
      <h1 class="text-center mt-3">Beauty Shop</h1>
      <p class="mb-5">
        Welcome! Here, in the Beauty Shop, you can find hair stylists, manicure masters, masseurs and other services.
        Moreover, you can create a master's account and customers will find you via our website.
        Our mission is to be the best of the best. We are here for you, because of you and only for you.
        We thrive on the diversity of our clientele; no matter what your shape or size, regardless of the issue, we will
        work with you to find a solution.
        This means the service that you receive from us will be friendly, personal, highly professional, and
        consistently the best in hairdressing and beauty.
      </p>
      <hr>
      <ul class="row list-inline justify-content-center advantages-list">
        <li class="list-inline-item text-center advantages-list-item">
          <i class="fa fa-calendar-check-o list-icon"></i>
          <p class="advantages-list-item-text">
            Individual schedule
          </p>
        </li>
        <li class="list-inline-item text-center advantages-list-item">
          <i class="fa fa-list-alt list-icon"></i>
          <p class="advantages-list-item-text">
            Personal approach
          </p>
        </li>
        <li class="list-inline-item text-center advantages-list-item">
          <i class="fa fa-coffee list-icon"></i>
          <p class="advantages-list-item-text">
            Comfortable environment
          </p>
        </li>
      </ul>
      <hr>
    </div>
  </section>

  <section class="carousel">
    <app-carousel></app-carousel>
  </section>
</div>
