<section class="slider">
  <app-slider></app-slider>
</section>

<section class="row info-about-site">
  <div class="col-12">
    <h1 class="text-center">
      Lorem ipsum dolor sit
    </h1>
    <p>
      Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem
      ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum
      dolor sit amet Lorem ipsum dolor sit amet Lorem
      ipsum dolor sit amet Lorem ipsum dolor sit amet
      Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem
      ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum
      dolor sit amet Lorem ipsum dolor sit amet Lorem
      ipsum dolor sit amet Lorem ipsum dolor sit amet
    </p>

    <hr>
    <ul class="row list-inline justify-content-center advantages-list">
      <li class="list-inline-item text-center advantages-list-item">
        <i class="fa fa-calendar-check-o list-icon"></i>
        <p class="advantages-list-item-text">
          Lorem ipsum dolor sit amet
        </p>
      </li>
      <li class="list-inline-item text-center advantages-list-item">
        <i class="fa fa-list-alt list-icon"></i>
        <p class="advantages-list-item-text">
          Lorem ipsum dolor sit amet
        </p>
      </li>
      <li class="list-inline-item text-center advantages-list-item">
        <i class="fa fa-coffee list-icon"></i>
        <p class="advantages-list-item-text">
          Lorem ipsum dolor sit amet
        </p>
      </li>
    </ul>
    <hr>

  </div>
</section>

<section class="carousel">
  <app-carousel></app-carousel>
</section>
