<ul class="list-group" *ngIf="entries.length; else usersListIsEmpy">
  <!--<li class="list-group-item" *ngFor="let entry of entries">{{entry | json}}</li>-->
  <li class="list-group-item" *ngFor="let entry of entries">
    {{entry | json}}
    <div>
      <button type="button" class="btn btn-primary" (click)="open(content)" (click)="confirmEntry()">accept</button>
      <button type="button" class="btn btn-secondary" (click)="open(content)" (click)="rejectEntry()">reject</button>
    </div>

    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>One fine body&hellip;</p>
        <form #acceptForm="ngForm" novalidate>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Date</label>
                <p>{{entry.date}}</p>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Time</label>
                <p>{{entry.time}}</p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="comment">Comment</label>
            <textarea class="form-control" name="comment" id="comment" [(ngModel)]="comment"></textarea>
          </div>

          <div class="form-group text-center">
            <button class="btn btn-success" (click)="submitForm(acceptForm)" *ngIf="accept">Submit</button>
            <button class="btn btn-warning" (click)="submitForm(acceptForm)" *ngIf="!accept">Reject</button>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>

  </li>

  <!--<ng-template #entryModal let-c="close" let-d="dismiss">-->
    <!--<div class="modal-header">-->
      <!--<h4 class="modal-title">Make an appointment with {{user.name}}</h4>-->
      <!--<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">-->
        <!--<span aria-hidden="true">&times;</span>-->
      <!--</button>-->
    <!--</div>-->
    <!--<div class="modal-body">-->
      <!--<form #entryForm="ngForm" novalidate>-->
        <!--<alert></alert>-->
        <!--<div class="row">-->
          <!--<div class="col-6">-->
            <!--<div class="form-group">-->
              <!--<label>Date</label>-->
              <!--<p>{{selectedDate}}</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-6">-->
            <!--<div class="form-group">-->
              <!--<label>Time</label>-->
              <!--<p>{{selectedTime}}</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="comment">Comment</label>-->
          <!--<textarea class="form-control" name="comment" id="comment" [(ngModel)]="comment"></textarea>-->
        <!--</div>-->

        <!--<div class="form-group text-center">-->
          <!--<button class="btn btn-dark" (click)="submitForm(entryForm)">Submit</button>-->
          <!--<img *ngIf="loading"-->
               <!--src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->
  <!--</ng-template>-->



</ul>

<ng-template #usersListIsEmpy>
  <p>No entries yet.</p>
</ng-template>
