<div class="row justify-content-center">

  <form [formGroup]="editProfileForm" (ngSubmit)="postData(editProfileForm)"
        class="col-12 col-md-8 col-lg-6 align-content-center reg-form">

    <h3 class="text-center">Edit profile</h3>

    <br>
    <alert></alert>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" (click)="clearFile()">Clear file</button>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="avatar" (change)="onFileChange($event)" #fileInput
               accept="image/*" [attr.multiple]="false">
        <label class="custom-file-label" for="avatar">Choose file</label>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Name <span class="text-danger">*</span></label>
      <input type="text" class="form-control "
             id="name" formControlName="name" placeholder="Enter name">

      <div class="help-block"
           *ngIf="editProfileForm.controls['name'].touched && !editProfileForm.controls['name'].valid">
        <span *ngIf="editProfileForm.controls['name'].hasError('required') ">
            name is required
            </span>
        <span *ngIf="editProfileForm.controls['name'].hasError('minlength') ">
             Min length is 1
            </span>
        <span *ngIf="editProfileForm.controls['name'].hasError('maxlength') ">
            max length is 15
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email address <span class="text-danger">*</span></label>
      <input type="email" class="form-control "
             id="email" formControlName="email" placeholder="Enter email">

      <div class="help-block"
           *ngIf="editProfileForm.controls['email'].invalid && editProfileForm.controls['email'].touched">
        <span *ngIf="editProfileForm.controls['email'].hasError('required')">
            email is required
            </span>
        <span *ngIf="editProfileForm.controls['email'].hasError('email') ">
            Invalid email
            </span>
      </div>
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone number <span class="text-danger">*</span></label>
      <input type="text" class="form-control "
             id="phoneNumber" formControlName="phoneNumber" placeholder="Enter phone number">

      <div class="help-block"
           *ngIf="editProfileForm.controls['phoneNumber'].invalid && editProfileForm.controls['phoneNumber'].touched">
        <span *ngIf="editProfileForm.controls['phoneNumber'].hasError('required')">
            Phone number is required
            </span>
        <span *ngIf="editProfileForm.controls['phoneNumber'].hasError('email') ">
            Invalid phone number
            </span>
      </div>
    </div>

    <div class="form-group">
      <label for="role">Role</label>
      <select class="form-control " name="role" id="role" (change)="selectChangeHandler($event)">
        <option *ngFor="let role of roles" [value]="role.toLocaleLowerCase()"
                [selected]="role.toLocaleLowerCase() === user.role">{{role}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="password">Password <span class="text-danger">*</span></label>
      <input type="password" #password (keyup)="setPasswordValue(password.value)"
             class="form-control "
             id="password" formControlName="password" placeholder="Password">

      <div class="help-block"
           *ngIf="editProfileForm.controls['password'].touched">

        <span *ngIf="editProfileForm.controls['password'].hasError('required') ">
            password is required
        </span>

      </div>
    </div>

    <div class="form-group">
      <label for="confPassword">Confirm password <span class="text-danger">*</span></label>
      <input type="password" #confPassword (keyup)="setConfPassword(confPassword.value)"
             class="form-control "
             id="confPassword" formControlName="confPassword" placeholder="Confirm password">

      <div class="help-block"
           *ngIf="editProfileForm.controls['confPassword'].touched">

        <span *ngIf="editProfileForm.controls['confPassword'].hasError('required')">
            verify password
        </span>

        <span *ngIf="editProfileForm.controls['confPassword'].hasError('confirmPassword')
            && !editProfileForm.controls['confPassword'].hasError('required')">
            fields does not match
        </span>

      </div>
    </div>

    <div class="form-group">
      <label for="userInfo">About user</label>
      <textarea name="userInfo"
                id="userInfo"
                class="form-control"
                formControlName="userInfo">
      </textarea>
    </div>


    <div class="row form-group justify-content-center">
      <button type="submit" class="btn btn-outline-dark submit-btn" id="register" [disabled]="!editProfileForm.valid">
        Submit
      </button>
    </div>
    <img *ngIf="loading"
         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

  </form>
</div>
