<div class="row justify-content-center">
  <div class="col-md-6 col-md-offset-3">
    <div *ngIf="userAuthorized" class="col-md-12 text-center">
      <h1>Hi {{currentUser.name}}!</h1>
      <p>You're logged in with Angular 5!</p>
      <p><a [routerLink]="['/login']">Logout</a></p>
      <hr>
    </div>

    <h3 class="text-center">All registered users:</h3>

    <div *ngIf="currentUser.role === 'customer' && userAuthorized" class="row">
      <b class="text-uppercase">Search: </b>
      <p>&nbsp;Find master by word</p>
      <input
        type="search"
        [(ngModel)]="queryString"
        class="form-control"
        placeholder="Enter key word"
        name="search"
        required>
    </div>

    <div *ngIf="currentUser.role === 'master' && userAuthorized">
      <h4>Search</h4>
      <p>Find customer by word</p>
      <input
        type="search"
        [(ngModel)]="queryString"
        class="form-control"
        placeholder="Enter key word"
        name="search"
        required>
    </div>

    <br>

    <div *ngIf="users.length; then usersList else usersListIsEmpy"></div>

    <ng-template #usersList>
      <div class="row">
        <div class="col-12" *ngFor="let user of users | SearchFilterPipe: queryString">
          <p><a routerLink="{{user.id}}">{{user.name}}</a></p>
          <p>Role: {{user.role}}</p>
          <hr>
        </div>
      </div>
    </ng-template>

    <ng-template #usersListIsEmpy>
      <p>No users yet.</p>
    </ng-template>
  </div>
</div>
