<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div *ngIf="userAuthorized">
      <h1>Hi {{currentUser.name}}!</h1>
      <p>You're logged in with Angular 5!</p>
      <p><a [routerLink]="['/login']">Logout</a></p>
    </div>
    <h3>All registered users:</h3>
    <div *ngIf="users.length; then usersList else usersListIsEmpy"></div>

    <ng-template #usersList>
      <div class="row">
        <div class="col-12" *ngFor="let user of users">
          <p><a routerLink="{{user.id}}">{{user.name}}</a></p>
          <p>Role: {{user.role}}</p>
        </div>
      </div>
    </ng-template>

    <ng-template #usersListIsEmpy>
      <p>No users yet.</p>
    </ng-template>
  </div>
</div>
