<div class="row mt-5">
  <div class="col-12 col-md-6">
    <p>Select date:</p>
    <div>
      <ngb-datepicker #dp [(ngModel)]="dpModel"></ngb-datepicker>
    </div>
    <br>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-sm btn-secondary" (click)="selectToday(); dp.navigateTo()">Select Today</button>
      <button type="button" class="btn btn-sm btn-secondary" (click)="dp.navigateTo()">To current month</button>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <p>Select time:</p>
    <ul class="list-group">
      <li class="list-group-item entry-time" *ngFor="let time of entriesTimes" (click)="open(content)" (click)="selectTimeHandler($event)">{{time}}</li>
    </ul>
  </div>
</div>

<pre>Model: {{ dpModel | json }}</pre>
<pre>selectedTime: {{selectedTime}}</pre>
<pre>entries: {{entries}}</pre>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
